# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.* 

# Build outputs
/dist/
/build/

/coverage/    # If you use a code coverage tool

# Operating system files
.DS_Store      # macOS specific
Thumbs.db      # Windows specific

# IDEs and editors
.idea/         # JetBrains (IntelliJ, WebStorm, etc.)
.vscode/       # Visual Studio Code
*.sublime-workspace
*.sublime-project

# Temporary files
*.log          # Log files
*.swp          # Swap files created by editors like Vim
